<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Movies</a>
      <form class="form-inline">
        <% if user_signed_in? %>
          <div style="padding-right: 10px;">
          </div>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-light btn-outline-danger" ,  style: "color: red;"%>
          <%= link_to "Edit user Profile", edit_user_registration_path  , class:"btn btn-light btn-outline-danger" ,  style: "color: green;"%>
          <div>
          <% if user_signed_in? %>
            <%= image_tag current_user.avatar.url(:thumb) %>
          <% end %>
          </div>
        <%else%>
          <div style="padding-right: 10px;">
          </div>
          <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary" ,style: "color: white;" %>
          <div style="padding-left: 10px;">
            <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-outline-success" ,style: "color: white;" %>
          </div>
        <%end%>
      </form>
    </nav>
